build/
*.out
*.exe
*.dSYM/
.DS_Store
compile_flags.txt*.o
*.out
out
a.out
*.dSYM/
fundamentals/bitmanipulation/bitcast
fundamentals/bitmanipulation/bitset
fundamentals/pointers/pointersnull
fundamentals/references/lvalueref
.claude/
